/*Images */
body { padding: 4% 20% }
h1 {
    color:red;
}
p {
    color:red;
}
img{
    height:250px ;
    width: 250px;
    margin-bottom: 42px;
    /*Drop shadow effect at right and bottom of image */
    box-shadow: 8px 10px 8px #888;
}

a:link, a:visited {
    text-decoration: none;
    padding-bottom: 2px;
    color: #000;
    border-bottom: solid 2px #000;
} 
            
/* Interactive link styles */
            
a:hover, a:focus, a:active {
    text-decoration: none; 
    padding-bottom: 2px;
    color: #f26f21;
    border-bottom: solid 2px blue;
}