/*Images */
body { padding: 4% 20% }
img{
    width: 250px;
    height: 250px;
    margin-bottom: 32px;
    /*Soften cornes of images */
    border-radius: 15px ;
}

/* Passive link styles */               
a:link, a:visited {
    text-decoration: none;
    padding-bottom: 2px;
    color: #006600;
    border-bottom: solid 2px #006600;
} 
                                        
/* Interactive link styles */              
a:hover, a:focus, a:active {
    text-decoration: none; 
    padding-bottom: 2px;
    color: #f26f21;
    border-bottom: solid 2px blue;
}